ul {
    display: inline-block;
    margin: center;
    text-align: left;
  }

ol {
    display: inline-block;
    margin: center;
    text-align: left;
  }

button {
  background-color: skyblue;
  border-style: outset;
  text-align: center;
}

label {
  text-align: center;
}

input {
  display: inline-block;
  padding: 1px;
  margin-right: auto;
}
hr {
  border-style: none;
  border-color: grey;
  border-width: 5px;
  border-top-style: dotted;
  width: 2%;
}